<VirtualHost *:80>
	ServerAdmin admin@server
	ServerName {{item.vhost}}
	
	DocumentRoot /var/www/{{item.vhost}}
	<Directory />
		Options FollowSymLinks
		AllowOverride All
	</Directory>
	<Directory /var/www/{{item.vhost}}>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>
</VirtualHost>